.App {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  background-color: black;
  color: #ffffff;
  padding: 7px 0;
  padding-left: 14px;
  padding-right: 14px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.icon-link {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-link:hover {
  color: #0056b3;
}

.header-nav {
  margin-top: 0px;
  display: none;
}

.header-nav.open {
  display: block;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #0056b3;
}

.main-section {
  padding: 20px 20px;

}

.w-section-title {
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 46px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.section-content {
  margin-bottom: 20px;
  line-height: 1.5;
}

.section-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: black;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  margin: 0;
  font-size: 18px;
}

.contact-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.contact-item {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s;
}

.contact-item:hover {
  color: #0056b3;
}

/* Responsive styles */
@media (min-width: 768px) {
  .header-nav {
    display: none !important;
  }
  .laptop{
     display: block !important;
  }
  .nav-toggle {
    display: none;
  }

  .nav-list {
    flex-direction: row;
  }
}

.laptop{
   display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px auto;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top:hover {
  background-color: #555;
}

/* Profile Section Styles */

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 62px;
}

.p-section-title {
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid darkblue;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.p-section-content {
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
  animation: fadeInUp 1s ease-out;
  background: linear-gradient(45deg, #007bff, #00bcd4);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.p-section-content::first-letter {
  font-size: 24px;
  float: left;
  margin-right: 10px;
  font-weight: bold;
}

/* Animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skill-section-title{
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  margin-top: 46px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

/* Skills Section Styles */
.skill-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.skill-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.skill-button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ed-section-title{
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 46px;
  text-transform: uppercase;
}

/* Education Section Styles */
.ed-section-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.ed-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ed-card:nth-child(1) {
  background: linear-gradient(45deg, #007bff, #00bcd4);
}

.ed-card:nth-child(2) {
  background: linear-gradient(45deg, #f200ff, #00d486);
}

.ed-card:nth-child(3) {
  background: linear-gradient(45deg, #00aeff, #00d486);}

.ed-card:hover {
  transform: translateY(-10px);
}

.ed-section-content {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.ed-section-content strong {
  color: #fff;
}

/* Job Section Styles */
.job {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.job:hover {
  transform: translateY(-10px);
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #007bff;
}

.job-company {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.job-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.job-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1f3296;
  cursor: pointer; /* Add cursor pointer */
}

.job-content {
  margin-bottom: 20px;
  line-height: 1.6;
}

.job-link {
  margin-bottom: 20px;
}

.project-dropdown p {
  margin: 10px 0;
  font-size: 16px;
  transition: opacity 0.3s ease-out;
}


.project-dropdown {
  /* display: none; */
  margin-top: 10px;
  padding-left: 20px;
  border-left: 3px solid #007bff;
}

.project-dropdown.active {
  display: block;
}

.drop-icon {
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.1);
  ;
  width: 40px;
  height: 40px;
  /* text-align: center; */
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.rotate {
  transform: rotate(180deg);
}

.lang-section-title{
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  text-transform: uppercase;
}
.lang-section-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.lang-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lang-button:hover {
  background-color: #45a049;
}

.int-section-title{
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  text-transform: uppercase;
}
.int-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.int-button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.int-button:hover {
  background-color: #ddd;
  color: #555;
}

.int-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.resume-section-title{
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-align: left;
  text-transform: uppercase;
  margin-top: 40px
}
